* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2980B9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.bubble {
  position: absolute;
  top: 100vh;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #020131,
    inset 5px 5px 10px #960101, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #9224ed;
}
.bubble-two {
  box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #06f3df,
    inset 5px 5px 10px #f8e63e, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #ed24aa;
}
.bubble-three {
  box-shadow: inset 0 0 10px #010631, inset -10px 10px 15px #1512f3,
    inset 5px 5px 10px #80036b, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #33114e;
}
.bubble-four {
  box-shadow: inset 0 0 10px #8b0101, inset -10px 10px 15px #f6f6fc,
    inset 5px 5px 10px #81f733, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #0b0822;
}
.bubble-five {
  box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #100dee,
    inset 5px 5px 10px #f7a120, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #ed24c1;
}
.score-board {
  background: #fff;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
}
.loser {
  display: none;
}
.winner {
  display: none;
}
.main-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button.start-btn {
  font-size: 20px;
  border: none;
  margin-top: 8px;
  border-radius: 30px;
  font-weight: bold;
  height: 30px;
  width: 5%;
  margin: 8px auto;
}
.shadow {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
}
.total-score {
  background: #fff;
  padding: 10px 100px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
/* Add a black background color to the top navigation */
/* Add a black background color to the top navigation */
/* Navbar */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 80px;
}
.navbar-logo img {
  width: 50px;
  margin-left: 140px;
  background-color: antiquewhite;

}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-right: 50px;
}
.topnav {
  overflow: hidden;
  background-color: #2980B9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Active Link */
.topnav a.active {
  background-color: #707070;
}

/* Hover Link */
.topnav a:hover {
  background-color: #9fffc5;
  color: #666;
}
