* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url("../Images/ThankfulEnchantingDairycow-size_restricted.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Navbar Start */
.nav {
  height: 70px;
  background-color: #2980b9;
  box-shadow: 0 3px 15px rgba(51, 49, 49, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  font-family: sans-serif;
  user-select: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 18px;
}

.navbar-logo img {
  width: 60px;
  background-color: antiquewhite;
  border-radius: 10%;
}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
.nav ul {
  margin-top: 0;
}
.nav ul li {
  display: inline-block;
}
h1 {
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 17px;
  background-color: #2980b9;
  transition: 0.3s;
  letter-spacing: 1px;
  text-decoration: none;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0px 10px 20px 20px;
}
p {
  font-size: 20px;
  color: white;
}
.icons {
  align-self: center;
  background-color: transparent;
  border: none;
  font-size: 26px;
  margin-left: 5px;
  cursor: pointer;
}
.music {
  font-size: 24px;
  padding: 10px 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}

#player {
  display: flex;
  justify-content: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  /* margin-top: 1%; */
  font-size: 1.5rem;
}

.navbar-logo img {
  height: 50px;
  width: auto;
  margin-top: 15%;
}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.topnav {
  overflow: hidden;
  /* background-color: #2980B9; */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #2980b9;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  margin: 0;
}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 15px;
}
footer ul li {
  margin-top: 5px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}
.active {
  margin: 10px 0px 5px 10px;
}
