* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #b5d3e7 !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  
}

/* Styling for the quiz form */
.answer-options {
  margin: 10px 0;
}

.question {
  margin-bottom: 20px;
}

/* Styling for the results. */
#results {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.story-footer {
  display: flex;
  flex-direction: column;
}

.story-footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
}

.story-footer-tagline {
  width: 100%;
  margin: 18px 0;
}

.story-footer-intro {
  display: block;
}

.story-footer-sm-text {
  margin-top: -22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.story-footer-text {
  font-weight: 400;
  color: #212529;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.story-footer-line-br {
  border-top: 1px solid black;
  margin: 0.4em;
  width: 100%;
}

.story-footer-copyright {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.story-footer-copyright-text {
  margin: 10px;
  font-family: Arial, sans-serif;
}

.top-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.top {
  display: flex;
  margin: auto;
  padding: 2rem;
  max-width: 100%;
}

.images {
  border-radius: 12px;
  display: flex;
  padding-top: 5px;
  gap: 50px;
  margin-left: 8rem;
  overflow-x: scroll;
}

.top ::-webkit-scrollbar {
  display: none;
}


.top img {
  width: 25rem;

  border-radius: 10px;
}
.new-header {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.new {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.new .img img {
  gap: 5px;
  width: 32vw;
  border-radius: 10px;
}

.bottom-header {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}


.bottom {
  display: flex;
  justify-content: center;
  gap:35px;
  flex-wrap: wrap;
}

.bottom .img img {
  gap: 5px;
  width: 30rem;
  border-radius: 10px;
}

/* .bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.bottom .img img {
  gap: 5px;
  width: 32vw;
  border-radius: 10px;
} */

.quiz_btn {
  padding: 12px 22px;
  background: #a3caff;
  font-size: 1.2rem;
  color: #212529;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.quiz_btn:hover {
  background: #3facf4;
  color: black;
  cursor: pointer;
}

.carousel-item img.d-block.w-100 {
  max-width: 45%;
  height: auto;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

}
