@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #b5d3e7 !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;

}

/* Styling for the quiz form */
.answer-options {
  margin: 10px 0;
}

.question {
  margin-bottom: 20px;
}

/* Styling for the results. */
#results {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.story-footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
}

.story-footer-tagline {
  width: 100%;
  margin: 18px 0;
}

.story-footer-intro {
  display: block;
}

.story-footer-sm-text {
  margin-top: -22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.story-footer-text {
  font-weight: 400;
  color: #212529;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.story-footer-line-br {
  border-top: 1px solid black;
  margin: 0.4em;
  width: 100%;
}

.story-footer-copyright {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

footer .logo {
  border-radius: 50%;
}

footer {
  background-color: #2980b9;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 15px;
}
footer ul li {
  margin-top: 5px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}

footer .copyright a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

footer .copyright a i{
  color: black;
  font-size: 30px;
}

.top-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.top {
  display: flex;
  margin: auto;
  padding: 2rem;
  max-width: 100%;
}

.images {
  border-radius: 12px;
  display: flex;
  padding-top: 5px;
  gap: 50px;
  margin-left: 8rem;
  overflow-x: scroll;
}

.top ::-webkit-scrollbar {
  display: none;
}


.top img {
  width: 25rem;

  border-radius: 10px;
}

.new-header {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.new {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.new .img img {
  gap: 5px;
  width: 32vw;
  border-radius: 10px;
}

.bottom-header {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}


.bottom {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.bottom .img img {
  gap: 5px;
  width: 30rem;
  border-radius: 10px;
}

.quiz_btn {
  /* Existing styles */
  padding: 12px 22px;
  background: transparent;
  border: 3px solid; /* Increased border width */
  border-radius: 12px; /* Larger border radius */
  font: inherit;
  font-size: 1.4rem; /* Larger font size */
  color: #212529;
  outline: none;
  transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, font-size 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow */
}

.quiz_btn:hover {
  border: 4px solid #1fc7a0; /* Match border color to the background on hover */
  transform: translateY(-8px); /* Increased upward movement on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
  font-size: 1.6rem; /* Larger font size on hover */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* More noticeable text shadow */
  animation: pulse 1s infinite; /* Add pulse animation on hover */
}

.quiz_btn span {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.quiz_btn:hover span {
  transform: rotateY(180deg);
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Increased scaling */
  }
  100% {
    transform: scale(1);
  }
}








.quiz_btn span {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.quiz_btn:hover span {
  transform: rotateY(180deg);
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Increased scaling */
  }
  100% {
    transform: scale(1);
  }
}








.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234F46E5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234F46E5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-item img.d-block.w-100 {
  max-width: 45%;
  height: auto;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bubble {
  position: absolute;
  top: 100vh;
  width: 150px;
  height: 150px;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #020131,
    inset 5px 5px 10px #960101, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #9224ed;
}

.bubble-two {
  box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #06f3df,
    inset 5px 5px 10px #f8e63e, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #ed24aa;
}

.bubble-three {
  box-shadow: inset 0 0 10px #010631, inset -10px 10px 15px #1512f3,
    inset 5px 5px 10px #80036b, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #33114e;
}

.bubble-four {
  box-shadow: inset 0 0 10px #8b0101, inset -10px 10px 15px #f6f6fc,
    inset 5px 5px 10px #81f733, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #0b0822;
}

.bubble-five {
  box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #100dee,
    inset 5px 5px 10px #f7a120, inset -5px 5px 20px #fff,
    inset 15px -25px 20px #ed24c1;
}

.score-board {
  background: #fff;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
}

.loser {
  display: none;
}

.winner {
  display: none;
}

.main-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button.start-btn {
  font-size: 20px;
  border: none;
  margin-top: 8px;
  border-radius: 30px;
  font-weight: bold;
  height: 30px;
  width: 5%;
  margin: 8px auto;
}

.shadow {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
}

.total-score {
  background: #fff;
  padding: 10px 100px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.cards {
  display: flex;
}

.nav {
  height: 70px;
  background-color: #2980b9 !important;
  box-shadow: 0 3px 15px rgba(51, 49, 49, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  position: sticky;
  z-index: 99;
  top: 0;
  font-family: sans-serif;
  user-select: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 18px;
}

.navbar-logo img {
  width: 60px;
  background-color: antiquewhite;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.navbar-logo a:hover {
  text-decoration: none;
}

.nav ul li {
  display: inline-block;
  padding: auto 20px;
}

.nav-menu {
  margin-bottom: 0;
  padding-left: 0;
}

.about {
  margin-left: 80px;
  margin-right: 80px;
}

.nav ul li a {
  color: white !important;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 17px;
  background-color: #2980b9 !important;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 0;
  /* margin: 0 20px; */
}

.nav ul li a.active:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.dropdown:hover>a {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.nav ul ul {
  position: absolute !important;
  top: 85px;
  border-top: 3.5px solid #8ad0ff;
  background-color: none;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
}

.nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  list-style: none;
}

.nav ul ul li {
  width: 310px;
  display: list-item;
  position: relative;
  border: 1px solid #8ad0ff;
  border-top: none;
}

a.dropdown-item {
  margin: 0 !important;
}

/* ul.dropdown-menu.show{
  margin: 0;
  padding: 0;
} */
.nav ul ul li a {
  line-height: 25px;
  padding: 10px 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}


/* Google Translate */
#google_translate_element select {
  background-color: #f6edfd;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
}

/* Mid-section */
.firstWord {
  font-size: 7rem;
  color: rgb(11, 6, 16);
  font-weight: 300;
}

.firstWord_secondPart{
  font-size:2rem;
}

.header p {
  font-size: 1.5rem;
  color: rgb(11, 6, 16);
  font-weight: 300;
}

.text-container {
  margin: 1.5rem;
  background-color: #fefae0;
  height: 25rem;
  width: auto;
  padding: 1rem;
  border-radius: 5%;
}

.first_para_word {
  font-size: 1.6rem;
  color: rgb(11, 6, 16);
  font-weight: 300;
}

.first_para {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.priest {
  height: 140px;
  margin: 0.4rem;
}

.second_container {
  position: absolute;
  top: 28rem;
}

.second_para_word {
  font-size: 30px;
}

.achievements>ol>li {
  font-size: 1.5rem;
  margin-left: 2rem;
}

/* Mid section ends */

/* Upcoming events container*/
.upcoming_events {
  margin: 2rem;
  position: relative;
  left: 1.5rem;
}

.upcoming_events_h1 {
  font-size: 4rem;
  font-weight: 200;
}

.card {
  margin: 1rem;
  border-radius: 5%;
  width: 30rem;
  height: 300px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.card:hover {
  height: 500px;
}

.card .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
}


.card:hover .card-overlay {
  opacity: 1;
  cursor: pointer;
}

.card .card-overlay .card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card .card-overlay .card-details {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover .card-overlay .card-details {
  opacity: 1;
  transform: translateY(0);
}

.card-details {
  font-size: 1.5rem;
  font-weight: 200;
}

.p1 {
  color: white;
}

.card a {
  padding: 1rem;
  width: 14rem;
}

footer {
  margin-top: 20px;
}

.moksh-logo {
  margin-top: 20px;
  width: 9rem;
  object-fit: contain;
  border-radius: 50%;
}

.footer-divide-text {
  text-align: center;
  padding: 15px 0 30px;

}

.footer-divide {
  gap: 0;

}

.footer-socials a {
  color: #000;
  text-decoration: none;
  transition: transform 0.3s eas-in-out;
}

.footer-socials ul:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .text-container {
    height: 40rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .second_container {
    position: relative;
    top: -3rem;
  }

  .second_para {
    margin-top: 1rem;
  }

}



.title-word {
  animation: color-animation 4s linear infinite;
  font-size: 4.2rem;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.first_button {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button-75 {
  margin: 50px;
  align-items: center ; 
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 104px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 14px;
    height: 70px;
  }

  .button-75 span {
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .button-75 {
    font-size: 14px;
    height: 70px;
  }

  .button-75 span {
    line-height: 50px;
  } 
  .top-header{
    font-size: 30px;
  }
  .bottom-header{
    font-size: 30px;
  }
  
}