* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: auto;
  height: 120vh;
  background-color: #2980b9;
}

body::-webkit-scrollbar {
  display: none;
}

#display {
  color: black;
  font-size: 1.5em;
  top: 30px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-align: center;
  width: 100px;
  position: relative;
  left: 1100px;
}

#date {
  width: 250px;
  color: black;
  top: 100px;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
  position: absolute;
}

footer {
  background-color: #2980b9;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 15px;
}

/* 
footer ul li {
  margin-top: 5px;
}  */

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}

#line {
  width: 100%;
  border-bottom: solid rgb(0, 0, 0);
  padding: 15px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar {
  position: fixed;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

span {
  border-radius: 100px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#content {
  margin-top: 320px;
}
#content p {
  margin-bottom: 2em;
  height: 180px;
  position: relative;
  margin: 40px auto;
}

#quote3 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

#quote4 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

p:hover {
  text-decoration: none;
}

.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  filter: invert(84%) sepia(28%) saturate(30%) hue-rotate(195deg)
    brightness(97%) contrast(99%);
}

.title {
  font-size: 28px;
  text-align: end;
  color: #fff;
  margin-top: 12px;
}

.tagline > p {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#quote2 {
  text-align: center;
}

.hold {
  width: 100%;
  text-align: left;
}

.buttons {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-device-width: 800px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  p {
    font-size: 1em;
  }
}

.link {
  margin: 10px 0px 5px 10px;
}

/* CSS for quotes box */
.fa-twitter {
  /* font-size: 65px !important; */
  margin-left: 5px;
  color: rgb(255, 255, 255);
}
.quote-box {
  padding: 3rem;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: 'Roboto', sans-serif;
  color: #14486b;
  -webkit-background-clip: text;
}

.quote {
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.new-quote {
  font-size: 1.5rem;
  border-radius: 5px;
  border: transparent;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
  margin-top: 5px;
  background-color: #2980b9;
  transition: all 0.2s ease-in-out;
}
.new-quote:hover {
  transform: scale(1.1);
  border: none;
}
.text-center {
  text-align: center;
  text-decoration: none;
}

.tweet-btn {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  padding: 8px 12px;
  margin-top: 5px;
  background-color: #55acee;
  transition: all 0.2s ease-in-out;
}
.tweet-btn:hover {
  transform: scale(1.1);
  border: none;
}
.author {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.75rem;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(105, 104, 104);
  -webkit-background-clip: text;
}

.block {
  perspective: 150rem;
  position: absolute;
  top: 22%;
  left: 20%;
  right: 20%;
}

.block__main {
  min-width: 60vw;
  position: absolute;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.47);
  border-radius: 0.5rem;
  background-color: transparent;
  opacity: 1;
}

.block__back {
  transform: rotateY(180deg);
}

.rotateF {
  transform: rotateY(-180deg);
}

.rotateB {
  transform: rotateY(0deg);
}

.learn-more{
  margin-bottom: 25px;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}