* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: auto;
  /* background-color: #ffe4e6; */
}

body::-webkit-scrollbar {
  display: none;
}

#display {
  color: black;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  opacity: 0.6;
  text-align: end;
  position: relative;
  margin-bottom:3 px;
}

#date {
  width: 250px;
  color: black;
  margin-bottom: 70px;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
  position: relative;
}

#line {
  width: 100%;
  border-bottom: solid rgb(0, 0, 0);
  padding: 15px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}



span {
  border-radius: 100px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#content {
  margin-top: 340px;
}
#content p {
  margin-bottom: 2em;
  height: 180px;
  position: relative;
  margin: 40px auto;
}

#quote3 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

#quote4 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

p:hover {
  text-decoration: none;
}

.card-container

{
  margin-top:130px;
}
.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  filter: invert(84%) sepia(28%) saturate(30%) hue-rotate(195deg)
    brightness(97%) contrast(99%);
}

.title {
  font-size: 28px;
  text-align: end;
  color: #fff;
  margin-top: 12px;
}

.tagline > p {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#quote2 {
  text-align: center;
}

.hold {
  width: 100%;
  text-align: left;
}

.buttons {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-device-width: 800px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  p {
    font-size: 1em;
  }
}

.link {
  margin: 10px 0px 5px 10px;
}

/* CSS for quotes box */
.fa-twitter {
  /* font-size: 65px !important; */
  margin-left: 5px;
  color: rgb(255, 255, 255);
}
.quote-box {
  padding: 3rem;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: 'Roboto', sans-serif;
  color: #14486b;
  -webkit-background-clip: text;
}

.quote {
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.new-quote {
  font-size: 1.5rem;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  padding: 8px 12px;
  margin-top: 5px;
  background-color: #2980b9;
  transition: all 0.2s ease-in-out;
}

.new-quote:hover {
  transform: scale(1.1);
  border: none;
}
.text-center {
  text-align: center;
  text-decoration: none;
}

.tweet-btn {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  padding: 8px 12px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
}
.tweet-btn:hover {
  transform: scale(1.1);
  border: none;
}
.author {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.75rem;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(105, 104, 104);
  -webkit-background-clip: text;
}

.block__main {
  margin: auto;
  width: 100%;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.47);
  border-radius: 0.5rem;
  background-color: transparent;
  opacity: 1;
}
.block{
  height: 85vh;
  width: 100%;
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
  .block__main {
    width: 100%;
  }
}

@media screen and (max-width: 414px){
  .block{
    height: 100vh;
    width: 100%;
  }
}

@media screen and (max-width: 414px){
  section{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    top: 100px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
  .block__main {
    width: 100%;
  }
}

@media screen and (max-width: 414px){
  .block{
    height: 100vh;
    width: 100%;
  }
}

@media screen and (max-width: 414px){
  section{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    top: 100px;
  }
}


@media screen and (max-width: 414px){
  section{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    top: 100px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
  .block__main {
    width: 100%;
  }
}

@media screen and (max-width: 414px){
  .block{
    height: 100vh;
    width: 100%;
  }
}

@media screen and (max-width: 414px){
  section{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    top: 100px;
  }
}

.block__back {
  transform: rotateY(180deg);
}
.learn-more{
  margin-bottom: 25px;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}



#google_element{
  margin-top:45px;
}
#google_element select{
  background-color:#f6edfd;
  color:#383ffa;
  border: none;
  border-radius:3px;
  border-color: black;
  padding:6px 8px;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd{
/* display:flex; */
text-align: center;
height:50px;
width:90px;

/* margin-top:20px; */

}




a {
  cursor: pointer;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

/*Adding style to scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #c193b0  )!important;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(0, 13, 6));

}
