@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  outline: none;
}
@media only screen and (max-width: 500px) {
  #wheel {
    display: none !important;
  }
  #arrow {
    color: white;
  }
}
@media only screen and (min-width: 500px) {
  #wheel {
    color: white;
  }
  #arrow {
    display: none !important;
  }
}
.projectName {
  font-family: "Arizonia", cursive;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
}

/* Footer  */
footer {
  background-color: rgb(243 244 246 / 1);
  color: black;

  padding: 0;
}

.footer-items {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-list ul,
.footer-socials ul {
  margin: 0;
  padding: 0;
}

.copyright {
  color: black;
  font-size: small;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 13px;
}

.footer-items:hover::after {
  transform: scale(1.1);
  transition: 400ms;
  width: 100%;
  color: blue;
}

.footer-items::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background: blue;
  transition: all 0.5;
}

.footer-divide {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  gap: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 16px;
}

.footer-divide-text {
  text-align: left;
  padding-top: 30px;
  font-size: 16px !important;
}

.footer-socials {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.customFooter .footer-link-text {
  color: rgb(203 213 225 / 1);
}
.made-by {
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.OmSymbol {
  position: relative;
  height: 18vh;
  width: 11vw;
  left: 40vw;
  bottom: 5vh;

  margin-right: 30px;
}

@media screen and (min-width: 280px) and (max-width: 912px) {
  .OmSymbol {
    position: relative;
    height: 100px;
    width: 100px;
    left: 40vw;
  }
}

.md\:hover\:scale-95:hover {
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.5);
}

/*From line 126 to 142 is the code contributed to style the scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #04aa6d);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(0, 13, 6));
}

@media (min-width: 700px) {
  .md\:flex {
    display: flex;
    margin-left: 40px;
    text-align: center;
  }
}

.flex {
  display: flex;
}

.input-field {
  flex: 1; /* Take remaining space */
  background-color: white;
  border: 1px solid #34d399; /* Emerald color */
  padding: 8px;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  outline: none;
  color: black;
}

.subscribeBtn {
  background-color: #34d399; /* Emerald color */
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.popup {
  position: fixed;
  display: none;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6ee7b7; /* Light green */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popup.show {
  display: block;
}

.popuptext {
  color: #fff;
  font-size: 14px;
}

#bttbutton {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 9999;
  border: none;
  outline: none;
  width: 55px;
  transition: all 0.5s ease;
}

.hover-effect img {
  transition: opacity 0.3s ease;
}

.hover-effect img:hover {
  opacity: 0.75;
}

.size {
  width: 1.5rem;
}

.heroSection {
  background-attachment: fixed;
  box-shadow: inset 0px -50px 70px white;
  z-index: 999;
}
.heroSection .top {
  animation: fadeup 1s 1;
}
.heroSection .bottom {
  animation: fadeup 1s 1;
}

.hover-image:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

@keyframes fadeup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  #bttbutton {
    right: 5px;
    bottom: 11px;
    width: 50px;
  }
  .size {
    width: 2rem;
  }
}
