@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  outline: none;
}

.projectName {
  font-family: 'Arizonia', cursive;
}

/* Footer  */
footer {
  background-color: rgb(243 244 246 / 1);
  color: black;

  padding: 0;
}

.footer-items {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
}


.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-list ul,
.footer-socials ul {
  margin: 0;
  padding: 0;
}

.copyright {
  color: black;
  font-size: small;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 13px;
}

.footer-items:hover::after {
  transform: scale(1.1);
  transition: 400ms;
  width: 100%;
  color: blue;
}

.footer-items::after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: blue;
  transition: all .5
}

.footer-divide {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  gap: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 16px;
}

.footer-divide-text {
  text-align: left;
  padding-top: 30px;
  font-size: 16px !important;
}

.footer-socials {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.made-by {
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.OmSymbol {
  position: relative;
  height: 18vh;
  width: 11vw;
  left: 40vw;
  bottom: 5vh;
}

@media screen and (min-width: 280px) and (max-width: 912px) {
  .OmSymbol {
    position: relative;
    height: 100px;
    width: 120px;
    left: 40vw;
  }
}