body{
    margin: 0;
    padding: 0;
}
*{
    text-decoration: none;
}
button{
    background: #a3caff;
    font-size: 1.2rem;
    color: rgb(36, 41, 5); 
    margin-left: 20px; 
    border-radius: 20px; 
    padding: 12px 22px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
button a{
    color: rgb(149, 53, 53); 
    font-weight: bolder; 
    font-size: 100px;
}
button{
    position: absolute;
    top: 50%;
    left: 45%;
}
button:hover {
    background: #3facf4;
    color: rgb(84, 103, 117);
    cursor: pointer;
  }