body {

  background-image: url('./meditationgif.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

iframe {
  min-height: 100% !important;
}


.qr-logo {
  height: 140px;
  width: 140px;
}

.qr-tagline {
  text-align: justify;
}

#player {
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  cursor: pointer;
  background-color: #2980b9;
}

#player:hover {
  color: #000 !important;
  background-color: #8ad0ff;
  border-radius: 10px;
}