body {
  background-image: url('Images/ThankfulEnchantingDairycow-size_restricted.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  color: white;
}
img{
width: 300px;
height: 300px;
border-radius: 10px;
margin: 0px 10px 30px 20px;
}
p{
  font-size: 20px;
  color: white;
}

#play-pause0 {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-pause0:hover {
  background-color: #2980b9;
}
#play-pause1 {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-pause1:hover {
  background-color: #2980b9;
}
#player {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#player1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}