body {
  background-image: url('Images/ThankfulEnchantingDairycow-size_restricted.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  color: white;
}
img{
width: 300px;
height: 300px;
border-radius: 10px;
margin: 0px 10px 30px 20px; 
}
p{
  font-size: 20px;
  color: white;
}

#play-pause0 {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-pause0:hover {
  background-color: #2980b9;
}
#play-pause1 {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-pause1:hover {
  background-color: #2980b9;
}
#player {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#player1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  /* margin-top: 1%; */
  font-size: 1.5rem;
}

.navbar-logo img {
  height: 50px;
  width: auto;
  margin-top: 15%;
}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #2980B9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

footer {
  background-color: #2980B9;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

footer .logo-title{
  display:flex;
  justify-content: center;
  align-items: center;
 }

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top:15px;

  
}
footer ul li {
  margin-top:5px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .quick-links ul li a:hover{
  text-decoration: none;
  padding:5px;
  background-color: #b1bce0;
  color: #666;
}