

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: auto;
  height: 100%;
  background-color: #2980b9;
}

body::-webkit-scrollbar {
  display: none;
}

#display {
  color: rgb(0, 0, 0);
  font-size: 2.9em;
  top: 10px;
  border-bottom: thin solid;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-align: center;
}

#date {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
}


footer {
  background-color: #2980b9;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}



.quote-btn {
  align-items: center;
  justify-content: center;
  display: flex;

}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 15px;
}
/* 
footer ul li {
  margin-top: 5px;
} */

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}

#line {
  width: 100%;
  border-bottom: solid rgb(0, 0, 0);
  padding: 15px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar {
  position: fixed;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.wrapper {
  background-color: red;
}

span {
  border-radius: 100px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

#content {
  margin-bottom: 2em;

}

#quote {
  color: #2980b9;
  font-family: 'Adobe Caslon Pro', 'Hoefler Text', Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;
}

#quote3 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px
}

#quote4 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px
}

p :hover {
  text-decoration: none;
}

.container {
  padding-top: 2em; 
  padding-bottom: 2em; 

}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  filter: invert(84%) sepia(28%) saturate(30%) hue-rotate(195deg) brightness(97%) contrast(99%);
}

.title {
  font-size: 28px;
  text-align: end;
  color: #fff;
  margin-top: 12px;
}

.tagline>p {
  font-size: 18px;
  text-align:
    center;
  color: #fff
}

#quote2 {
  text-align: center
}

#b-nav {
  padding-bottom: 5em;
  position: fixed;
  width: 100%;
  bottom: 8em;
}

#b-nav ul {
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  text-align: center;
}

#b-nav ul li {
  display: inline;
}

#b-nav ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  background-color: black;
  opacity: 0.4;
  filter: alpha(opacity=40);
  
}

.hold {
  width: 100%;
  text-align: left;
}

#gen {
  width:120px;
  height:35px;
  background-color: rgba(70,145,250);
  color: white;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  
}
#gen img{
  width: 20px;
  float: right;
  transform: translateY(-15%);
  
  
}

#gen:hover {
  background-color: rgb(70, 145, 250,0.8);
  color: black;
  border: thin solid black;
  cursor: pointer;
  
}

#gen a {
  text-decoration: none;
}

#date {
  color: rgb(0, 0, 0);
}

@media screen and (max-device-width: 800px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  p {
    font-size: 1em;
  }
}

.fa-twitter {
  font-size: 38px !important;
  margin-left: 20px;
  color: rgb(0, 255, 255);
}

.link {
  margin: 10px 0px 5px 10px;
} 