* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: auto;
  height: 120vh;
  background-color: #2980b9;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar Start */

.navbar {
  z-index: 100;
  height: 70px;
  background-color: #2980b9 !important;
}

.navbar img {
  width: 60px;
  background-color: antiquewhite;
  border-radius: 10%;
}

.navbar span {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.navbar a:hover {
  text-decoration: none;
}

.navbar-nav {
  margin-bottom: 0;
  padding-left: 0;
}

.about {
  margin-left: 100px;
  margin-right: 100px;
}

.about a{
  color: white !important;
  font-size: large;
}

.features {
  /* margin-left: 100px; */
  /* margin-right: 80px; */
  color: white !important;
}

@media screen and (max-width: 1000px) {
  .features {
    margin-left: 100px;
    /* margin-right: 80px; */
    color: white !important;
  }
  #google_translate_element select {
    /* background-color: #2980b9 !important; */
    margin-left: 100px;

    background-color: #f6edfd;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 6px 8px;
    cursor: pointer;
  }

}

a.features {
  font-size: large;
}

.navbar-collapse {
  background-color: #2980b9;
}

.navbar-nav li a:hover {
  color: black ;
  text-decoration: underline;
  text-decoration-color: black;
}

/* Google Translate */
#google_translate_element select {
  /* background-color: #2980b9 !important; */

  background-color: #f6edfd;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
}
/* Navbar Ends */


#display {
  color: black;
  font-size: 1.5em;
  top: 30px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-align: center;
  width: 100px;
  position: relative;
  left: 1100px;
}

#date {
  width: 250px;
  color: black;
  top: 100px;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-align: center;
  position: absolute;
}


footer {
  background-color: #2980b9;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.quote-btn {
  align-items: center;
  justify-content: center;
  display: flex;
background-color: black;
}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 15px;
}

/* 
footer ul li {
  margin-top: 5px;
}  */

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}

#line {
  width: 100%;
  border-bottom: solid rgb(0, 0, 0);
  padding: 15px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* .navbar {
  position: fixed;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
} */

span {
  border-radius: 100px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

#content p {
  margin-bottom: 2em;
  height: 180px;
  position: relative;
  margin: 40px auto;
}

#quote {
  color: #2980b9;
  font-family: 'Adobe Caslon Pro', 'Hoefler Text', Georgia, Garamond, Times, serif;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;
}

#quote3 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px
}

#quote4 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px
}

p:hover {
  text-decoration: none;
}

.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  filter: invert(84%) sepia(28%) saturate(30%) hue-rotate(195deg) brightness(97%) contrast(99%);
}

.title {
  font-size: 28px;
  text-align: end;
  color: #fff;
  margin-top: 12px;
}

.tagline>p {
  font-size: 18px;
  text-align:center;
  color: #fff
}

#quote2 {
  text-align: center
}

.hold {
  width: 100%;
  text-align: left;
}

#gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  opacity: 0.6;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(3, 3, 3);
  border: thin solid rgb(0, 0, 0);
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
  position: absolute;
  left: 550px;
  top: 455px;
}

#gen:hover {
  background-color: rgb(70, 145, 250);
  color: black;
  border: thin solid black;
  opacity: 0.8;
  cursor: pointer;
}

#gen a {
  text-decoration: none;
}

.fa.fa-twitter{
  position: absolute;
  left: 680px;
  top: 455px;
}

@media screen and (max-device-width: 800px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  p {
    font-size: 1em;
  }
}

.fa-twitter {
  font-size: 38px !important;
  margin-left: 20px;
  color: rgb(0, 255, 255);
}

.link {
  margin: 10px 0px 5px 10px;
}