@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.projectName {
  font-family: 'Arizonia', cursive;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(25, 23, 23);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.arrow {
  border: solid rgb(18, 41, 185);
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 5px;
}
.down {
  transform: rotate(44deg);
  -webkit-transform: rotate(45deg);
}


a.text-xs.px-3.py-2.font-semibold.tracking-widest.border-4.border-white.hover\:border-indigo-600.text-white.ease-in-out.duration-300.hover\:bg-indigo-600.uppercase.mt-2.inline-block {
  border: 2px solid #0c2633b8;
  background: #0c2633f5;
  border-radius: 10px;
  letter-spacing: 0px;
  word-spacing: 3px;
  color: lightgray;
}

a.text-xs.px-3.py-2.font-semibold.tracking-widest.border-4.border-white.hover\:border-indigo-600.text-white.ease-in-out.duration-300.hover\:bg-indigo-600.uppercase.mt-2.inline-block:hover {
  color: #f6e1ebeb;
  border: 1px solid #324c43;
  transition: all 1s ease;
  background: #1d3b3d;
  font-weight: 900;
  transform:scale(1.05);
}
