@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.projectName {
  font-family: 'Arizonia', cursive;
}
.OmSymbol{
  position: relative;
  height: 20vh;
  width: 15vw;
  left: 40vw;
  bottom: 3vh;
}

@media screen and (min-width: 280px) and (max-width: 912px) {
  .OmSymbol{
    position: relative;
    height: 100px;
    width: 120px;
    left: 55vw;
  }
}