* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


body {
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.media-scroller {
  display: grid;
  gap: 10px;
  padding-left: 100;
  grid-auto-flow: column;
  grid-auto-columns: 35%;

  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

  overflow-x: scroll;
  overscroll-behavior-inline: contain;
}

#about1,
#about3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  width: 45%;
}

#about2,
#about4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  width: 45%;
}
