* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p{
  color : white;
}
.intro{
  font-family: sans-serif;
  height: 46.4px;
}
/* Styling for the quiz form */
.answer-options {
  margin: 10px 0;
}

.question {
  margin-bottom: 20px;
}

/* Styling for the results. */
#results {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
footer {
  background-color: #2980b9;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  margin: 0;
}
.foot{
  height: 308.8px;
  font-family: sans-serif;
  border-top: 0px;
}
footer .logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 15px;
}
footer ul li {
  margin-top: 5px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}
.link {
  margin: 10px 0px 5px 10px;
  font-weight: bold;
  color: #551A8B;
}

.top-header{
  text-align: center;
  margin-bottom: 30px;
}

.top{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  gap:15px;
}

.top .img img{
  width:30rem;
  border-radius: 10px;
}

.bottom-header{
  text-align: center;
  margin-top: 50px;
}

.bottom{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.bottom .img img{
  gap: 5px;
  border-radius: 10px;
}

.quiz_btn{
  padding: 12px 22px;
  background: #3382F1;
  font-size: 1.2rem;
  color: #212529;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.quiz_btn:hover{
  background: #3facf4;
  color: black;
  cursor: pointer;
}
#row{
   border: 0;
    border-top: 1px solid #000;
    margin: 7px 7px;
}
.quick-links{
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 43.6px;
}
.Quick{
  box-sizing: border-box;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.tagline{
  height: 20.8px;
}
.copyright{
  height: 43.2px;
}