html {
  height: 100%;
  width: 100%;
}
p{
  color: rgb(33, 33, 33);
  font-size: 20px;
}
body {
  background-image: url("https://t4.ftcdn.net/jpg/00/81/27/35/360_F_81273592_SCPKoalnhA1V4dPaMds8Q70q352NH7ua.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  
  background-color: #2980B9;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.header {
  background-color: #2980B9;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.header h1 {
  font-size: 50px;
  margin: 0;
}

.header p {
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
}

.content {
  margin: 50px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  color: #2980B9;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content img{
    
    background-color: antiquewhite;
    margin-right: 20px;
}
.text-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background-color: #2980B9;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #363636;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

/* Add a black background color to the top navigation */
/* Navbar */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 80px;
}
.navbar-logo img {
  width: 50px;
  margin-left: 10px;
  background-color: antiquewhite;

}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-right: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #2980B9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Active Link */
.topnav a.active {
  background-color: #707070;
}

/* Hover Link */
.topnav a:hover {
  background-color: #9fffc5;
  color: #666;
}

/* Mobile Responsive */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    position: relative;
  }
  .topnav a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive {
    display: block;
    text-align: center;
  }
  .topnav.responsive a {
    display: inline-block;
    float: none;
  }
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #2980B9;
  background-image: url("https://t4.ftcdn.net/jpg/00/81/27/35/360_F_81273592_SCPKoalnhA1V4dPaMds8Q70q352NH7ua.jpg");
  background-size:cover;
  color: #2980B9;
  width: 250px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #555;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h3 {
  font-size: 24px;
  margin-top: 10px;
}

.card p {
  font-size: 16px;
  margin: 10px;
}

.card button {
  background-color: #3ce78f;
  color: #2980B9;
  border: none;
  
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}






.image-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 20px;
  overflow: hidden;
  border: 0px solid #ffffff;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

@media only screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
}
footer {
  background-color: #2980B9;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

footer ul li:first-child {
  margin-left: 0;
}
  
footer ul li a {
  color: #fff;
  text-decoration: none;
}
