

 {
  margin: 0;
  padding: 0; 

  box-sizing: border-box;
}
/* styles for scroll to top button */
.return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color:#ffffff;
  color: rgb(4, 109, 4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.return-to-top.active {
  opacity: 1;
  visibility: visible;
}

html {
  height: 100%;
  width: 100%;
}

p {
  color: rgb(33, 33, 33);
  font-size: 20px;
}
.moksh-png-bg{
  background-color: transparent;
  height: 150px;
  margin-bottom: 0px;
}
/* Navbar Start */
.container-fluid
{
  padding: 3% 15%;
}
.nav-item{
  padding:0 10px;
  font-family: 'Amaranth', sans-serif;
}
.nav-text{
  color: #2980b9;

}
.nav-link{
  font-size: 1.3rem;
}
.navbar{
  padding:0 4.5rem;
  background-color: rgba(255,255,255);
  border-radius: 10px;
}

.page-title-container{
  background-image: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?cs=srgb&dl=pexels-sohail-nachiti-807598.jpg&fm=jpg");
  background-size:cover;
}

}
.title-home-2{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 1.9rem;
  text-shadow: 2px 2px darkgreen;


}
/* Navbar Ends */

.header {
  background-color: rgb(4, 109, 4);
  color: #fff;
  text-align: center;
  padding: 50px;
}

.header h1 {
  font-size: 50px;
  margin: 0;
}

.header p {
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
}

.content {
  margin: 50px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  color: #2980b9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content img {
  background-color: antiquewhite;
  margin-right: 20px;
}
#about-section,.about-section-1-para,.about-section-2-para{
  background-color: rgb(4, 109, 4);
  padding: 3.9% 5%;
  text-align: center;
  color: whitesmoke;
}
.about-section-heading{
  margin-bottom: 50px;
  font-family: 'Righteous';
}
.about-section-1-para,.about-section-2-para{
  text-align: justify;
  font-family: 'Amaranth';
  padding: 3% 10%;
}
.about-intro-line{
  border-top: 10px dotted ;
  width: 500px;
  color: rgb(255, 255, 255);

}
.about-section-img{
  height:380px;
  width:380px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}
.flex-nested-container{
  display: flex;
  flex-direction: column;
}
.flex-img{
  margin:50px ;
  height:200px;
} 
.flex-img {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
}
@media all and (max-width: 500px){
  iframe{
    height:300px;
    width:350px;
  }
  .contributor-inner-tile{
    height:300px;
    width:350px;
  }
}

.text-container {
  max-width: 800px;
  padding: 40px 20px;
  text-align: center;
  background-color: rgb(4, 109, 4);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 3.5rem;
  transition: all 0.55s ease;
  margin-bottom: 60px;
}

.text-container:hover {
  transform: translateY(-8px);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.description {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 20px;
  max-width: 700px;
  text-align: center;
  margin-left: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  
}

.card {
  background-color: white;
  width: 350px;
  /* height: 500px; */
  margin: 20px;
  text-align: center;
  /* border: 1px solid transparent; */
  box-shadow: 0px 0px 5px 0 #494949;
  transition: all .55s ease;

  border-radius: 10px !important;
  overflow: hidden;
}
.feature-sec-img{
  height: 300px;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.prime-card-container{
  background-color: rgb(4, 109, 4);
}
.feature-heading{
  color: white;
  font-family: 'Amaranth';
  font-size: 4.3rem ;
  padding-top: 4%;
}
.feature-wrapper {
  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.25s ease-in-out;
}

.feature-wrapper .feature-description {
  overflow: hidden;
}

.card h3 {
  font-size: 24px;
  margin: 5px 0 0 0;

  padding: 4px 0;
  background-color: rgb(4, 109, 4);
  color: white;
  
}


.card p {
  font-size: 18px;
  margin: 10px;
  text-align: left;
  text-align: center;
}

.card:hover{
  transform: translateY(-8px);
}

.card:hover .feature-wrapper {
  grid-template-rows: 1fr;
}

.card .feature-description button {
  background-color: rgb(4, 109, 4);
  border: 1px solid white;


  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
  background-color: #dddddd;
  color: white;
}

.btn-shift {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.image-container {
  margin-top: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.moksh-intro{
  background-color: #fff;
  padding: 6% 15%;

}
.moksh-intro-subheading{
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 2.9rem;
  color: #2980b9;

}
.moksh-intro-para{
  font-family: 'Lobster', cursive;
  margin-top: 50px;
  text-align: center;
}
.moksh-intro-line{
  border-top: 10px dotted ;
  width: 300px;
  color: rgb(45, 112, 220);
}


@media only screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
}


footer .logo {
  background-color: #000000;
  border-radius: 50%;
}

footer {
  background-color: rgb(4, 109, 4);
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 15px;
}
footer ul li {
  margin-top: 5px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}

footer .copyright a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

footer .copyright a i{
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
}
.contributor-text{
  color: white;
}
#header {
  margin-top: 10px;
}

