body {
  /* background-image: url('https://t4.ftcdn.net/jpg/00/81/27/35/360_F_81273592_SCPKoalnhA1V4dPaMds8Q70q352NH7ua.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #2980b9; */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.blogHeading {
  font-size: 20px;
}

.blogContent {
  line-height: 35px;

}

.firstWord {
  font-size: 90px !important;
  color: #2980b9;
}

.blogContent {
  text-align: justify;
}

.q-and-a {
  background-color: #2980b9;
}