* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  overflow: hidden;
}

.media-scroller {
  width: 90%;
  display: grid;
  gap: 10px;
  padding: 10px 0;
  grid-auto-flow: column;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow-x: auto;

  overscroll-behavior-inline: contain;
}

/* changing scrollbar style */

*::-webkit-scrollbar {
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(151, 149, 149);
  border-radius: 20px;
  border: 3px solid rgba(175, 166, 166, 0);
}

/* Rest of the CSS code */

#about {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin: 20px auto;
  width: 60%;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.464);
  box-sizing: border-box;
  border: 0px solid #e5e7eb;
  transition: scale 1s;
  padding: 0;
}

#about p {
  max-height: 0;
  transition: max-height 0.7s ease, opacity 0.7s ease, margin-top 0.7s ease;
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-align: justify;
  font-size: 16px;
}

#about:hover {
  scale: 0.95;
}

#about span {
  width: 100%;
  position: relative;
  top: 1rem;
  margin-bottom: 1rem;
}

#about h2 {
  text-align: center;
  color: #4f46e5;
  font-size: 18px;
}
#carouselExampleControls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-section {
  margin: 0;
  padding: 0;
  height: 28rem;
}
.img-section img {
  height: 100%;
  width: 110%;
  object-fit: cover;
}
#about section {
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

iframe {
  width: 420px;
  height: 315px;
  border-radius: 10px;
}

/* dark carorousel control icons */

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

@media (max-width: 620px) {
  .media-scroller {
    grid-auto-columns: 100%;
  }
  #about {
    width: 65%;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  #about {
    flex-direction: column;
    height: 810px;
  }
  #about section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .img-section {
    margin: 0;
    padding: 0;
    height: 18rem;
  }
  .img-section img {
    width: 110%;
    object-fit: cover;
  }
}
