.info{
    margin-top: 500px;
    
}
.h2{
    size: 300px;
}
.text-muted{
    color: rgba(61, 65, 65, 0.747);
}
.regist{
    line-height: 50px;
}
.btn{
    cursor:pointer;
    width: 250px;
    height: 50px;
    background-color: rgba(0, 162, 255, 0.692);
    font-size: large;
}
.regist input {
    font-size: 20px;
}
.regist textarea{
    font-size: 20px;
}
.head{
    margin-top: 130px;
    margin-right: 500px;
}


