@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-image: url("../Images/wallpaper8.gif");
}
.projectName {
  font-family: 'Arizonia', cursive;
}
.featuredBlog span{
  color: white;
}
.title p{
  color: white;
}
.blogContentDetails {
  align-items: center;

}

/*From line 13 to 29 is the code contributed to style the scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(7, 31, 48);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #09a0f1);
  border-radius: 6px;
}
/*
::-webkit-scrollbar-thumb:hover {
  
  background: linear-gradient(transparent, antiquewhite);
   
}
*/
.heroSection{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.depressed-image{
  width: 600px;
  height: 70vh;
  border-radius: 100%;
}
.blogCards{
  background: rgba(255, 255, 255, 0.6);
}
.text-base{
  color: white;
}   