@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.projectName {
  font-family: 'Arizonia', cursive;
}


.blogContentDetails {
  align-items: center;

}

/*From line 13 to 29 is the code contributed to style the scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(7, 31, 48);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #09a0f1);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, antiquewhite);

}