@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
 
}

.navbar{
  background: rgb(210,222,0);
  background: linear-gradient(93deg, rgba(210,222,0,1) 0%, rgba(11,178,0,1) 100%);
  box-shadow: -3px 18px 15px -22px rgba(159,255,0,0.83);
  -webkit-box-shadow: -3px 18px 15px -22px rgba(159,255,0,0.83);
  -moz-box-shadow: -3px 18px 15px -22px rgba(159,255,0,0.83);

 z-index: 10000;
}

/* .navbar:hover{

} */
.projectName {
  font-family: 'Arizonia', cursive;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.image1{
  margin-left: 70px;
  /* margin-right: 100px; */
}

/* Add this CSS rule to create a white outline on hover */
.read-button {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 0.75rem; 
  margin-top: 0.75rem; 
  border-radius: 0.375rem; 
  z-index: 20;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.read-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: white;
  z-index: -10;
  transition: width 0.3s ease-in-out;
  border-radius: 0; 
}

.read-button:hover {
  color: black;
}

.read-button:hover::after {
  width: 100%;
}

  
.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}


.blogContentDetails {
  align-items: center;

}

/*From line 13 to 29 is the code contributed to style the scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #04AA6D );
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(0, 13, 6));

}
#google_translate_element {
  top: 15vh;
  right: 5vw;
}

/* Media Queries */

@media (max-width: 1250px) {
  .karma_image{
    object-fit: contain;
  }
}

#google_translate_element {
  position: fixed;
  /* top: 15vh; Adjust top distance as needed */
  /* right: 5vw; Adjust right distance as needed */
  /* Ensure it's above other content */
  z-index: 10;
  background-color: #ffffff; /* Background color */
  border-radius: 0; /* Border radius */
   border: 1px solid black;  /*Border */
  /* color:black; */
  padding: 10px; /* Padding */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Box shadow */

  /* box-shadow: -2px 1px 41px -18px rgba(159,255,0,0.83);
  -webkit-box-shadow: -2px 1px 41px -18px rgba(159,255,0,0.83);
  -moz-box-shadow: -2px 1px 41px -18px rgba(159,255,0,0.83); */
}

/* Styling for the translate button */
#google_translate_element .goog-te-menu-value {
  font-size: 16px; /* Adjust font size */
  overflow: hidden;
  padding: 6px 12px; /* Adjust padding */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Border radius */
  background-color: #ccc; /* Background color */
}

/* Styling for the language dropdown */
#google_translate_element select.goog-te-combo {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
 
  overflow: hidden;
  padding: 6px 12px; /* Adjust padding */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Border radius */
  background-color: #f8f8f8; /* Background color */
}


/* .translation-container{
  margin-left: 43vw;

  margin-top: 5vh;


} */
/* Hiding the overlapping google translate banner */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body > .skiptranslate {
  display: none;
}

.blogCards{
  z-index: -100;
}

@media (max-width : 680px) {
  #google_translate_element {
    position: fixed;
    width: -webkit-fill-available;
    height: 10vh;
    top:90vh;
    right: 0vw;
    /* right: 5vw; */
    z-index: 10;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid black;
    /* color: black; */
    padding: 10px;
}}