body {
  background-image: url("../Images/meditationgif.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Navbar CSS */
.navbar {
  background-color: white; 
  /* Existing styles for the navbar */
}

iframe {
  min-height: 100% !important;
}

.qr-logo {
  height: 160px;
  width: 160px;
  border-radius: 35px;
}

.qr-container {
  width: auto;
}
 
@media screen and (max-width: 1200px) {
  .qr-container {
    width: 100% !important;
  }
}

.qr-tagline {
  text-align: start;
}

@media screen and (max-width: 500px) {
  .qr-tagline {
    width: 100% !important;
    text-align: center;
  }
}

#player {
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  cursor: pointer;
}

#player:hover {
  color: #000 !important;
  background-color: #ffffffaf !important;
  border-radius: 16px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/* Footer CSS */
footer {
  margin-top: 10px;
}
.moksh-logo {
  margin-top: 20px;
  width: 9rem;
  object-fit: contain;
  border-radius: 50%;
}

.footer-divide-text {
  text-align: center;
  padding: 15px 0 30px;

}

.footer-divide {
  gap: 0;

}

.footer-socials a {
  color: #000;
  text-decoration: none;
  transition: transform 0.3s eas-in-out;
}

.footer-socials ul:hover {
  transform: scale(1.1);
}


  body {
    background-attachment: fixed;
    box-shadow: inset 0px 0px 70px white;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

.heroSections .top{
  animation: fadeup 1s 1;
}
.heroSections .bottom{
  animation: fadeup 1s 1;
}

/* Navbar CSS */
.projectName{
  color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
}

.relative{
  color:black
}
