body {
  background-image: url("../Images/meditationgif.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 
iframe {
  min-height: 100% !important;
}

.qr-logo {
  height: 160px;
  width: 160px;
  border-radius: 35px;
}

.qr-container {
  width: auto;
}
 
@media screen and (max-width: 1200px) {
  .qr-container {
    width: 100% !important;
  }
}

.qr-tagline {
  text-align: start;
}

@media screen and (max-width: 500px) {
  .qr-tagline {
    width: 100% !important;
    text-align: center;
  }
}

#player {
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  cursor: pointer;
}

#player:hover {
  color: #000 !important;
  background-color: #ffffffaf !important;
  border-radius: 16px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Navbar Start */

.nav {
  height: 70px;
  background-color: #2980b9 !important;
  box-shadow: 0 3px 15px rgba(51, 49, 49, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  position: sticky;
  z-index: 99;
  top: 0;
  font-family: sans-serif;
  user-select: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 18px;
}

.navbar-logo img {
  width: 60px;
  background-color: antiquewhite;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-logo span {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}
.navbar-logo a:hover {
  text-decoration: none;
}
.nav ul li {
  display: inline-block;
  padding: auto 20px;
}
.nav-menu {
  margin-bottom: 0;
  padding-left: 0;
}

.about {
  margin-left: 80px;
  margin-right: 80px;
}

.nav ul li a {
  color: white !important;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 17px;
  background-color: #2980b9 !important;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 0;
  /* margin: 0 20px; */
}

.nav ul li a.active:hover {
  color: black ;
  text-decoration: underline;
  text-decoration-color: black;
}

.dropdown:hover > a {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.nav ul ul {
  position: absolute !important;
  top: 85px;
  border-top: 3.5px solid #8ad0ff;
  background-color: none;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
}

.nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  list-style: none;
}

.nav ul ul li {
  width: 310px;
  display: list-item; 
   position: relative;
  border: 1px solid #8ad0ff;
  border-top: none;
}

a.dropdown-item{
  margin: 0 !important;
}
/* ul.dropdown-menu.show{
  margin: 0;
  padding: 0;
} */
.nav ul ul li a {
  line-height: 25px;
  padding: 10px 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

/* Google Translate */
#google_translate_element select {
  /* background-color: #2980b9 !important; */

  background-color: #f6edfd;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
}
/* Navbar Ends */