*{
    box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
background-image: url("image4.jpg");
background-size: cover;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
}
.milky-way
{
    background: #000 url(https://cdn.spacetelescope.org/archives/images/screen/heic0602a.jpg) no-repeat center center /cover;
    width: 700px;
    height: 700px;
    margin: 100px auto auto;
    border-radius: 50%;
    box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;
    transform: rotateX(-50deg);
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotateX(40deg) rotate(0deg);
    }
    100%{
        transform: rotateX(40deg) rotate(360deg);
    }
}

@media screen and (max-width: 540px) {
    .milky-way {
        background: #000 url(https://cdn.spacetelescope.org/archives/images/screen/heic0602a.jpg) no-repeat center center /cover;
        width: 100vw;
        height: 60vh;
        margin: 170px auto auto;
        border-radius: 66%;
        box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;
        transform: rotateX(-50deg);
        animation: animate 60s linear infinite;
        position: relative;
    }
}