* {
    box-sizing: border-box;
  }
body{
margin: 0;
padding: 0;
background-image: url("image4.jpg");
background-size: cover;
}
.milky-way
{
    background: #000 url(https://cdn.spacetelescope.org/archives/images/screen/heic0602a.jpg) no-repeat center center /cover;
    width: 700px;
    height: 700px;
    margin: 100px auto auto;
    border-radius: 50%;
    box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;
    transform: rotateX(-50deg);
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotateX(40deg) rotate(0deg);
    }
    100%{
        transform: rotateX(40deg) rotate(360deg);
    }
}

@media screen and (max-width: 540px) {
    .milky-way {
        background: #000 url(https://cdn.spacetelescope.org/archives/images/screen/heic0602a.jpg) no-repeat center center /cover;
        width: 100vw;
        height: 60vh;
        margin: 170px auto auto;
        border-radius: 66%;
        box-shadow: inset 0 0 40px #000, inset 0 0 40px #000;
        transform: rotateX(-50deg);
        animation: animate 60s linear infinite;
        position: relative;
    }
}


#left-arrow, #right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    z-index: 2;
}



#left-arrow,
#right-arrow {
  position: absolute;
  top: calc(50% + 16%);
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#left-arrow {
  left: calc(20px + 10%);
}

#right-arrow {
  right: calc(20px + 10%);
}



.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100vh;
}



#arjuna-image {
    z-index: 2;
    position: absolute;
    top: calc(50% + 24%);
    left: calc(50% - 20%);
    transform: translateY(-50%);
}

#krishna-image {
    z-index: 2;
    position: absolute;
    top: calc(50% + 19%);
    left: calc(50% + 4%);
    transform: translateY(-50%);
}

@media screen and (max-width: 540px) {
    #arjuna-image,
    #krishna-image {
        z-index: 4; /* Adjust the z-index to make sure images are above the milky-way */
        position: absolute;
        top: calc(50% + 34%); /* Adjust the top position as needed */
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #arjuna-image {
        width: 25%; /* Increase the width by 15% */
        top: 68%; /* Adjust the top position */
        left: 25%; /* Adjust the left position */
    }

    #krishna-image {
        width: 26%; /* Increase the width by 15% */
        top: 65%; /* Adjust the top position */
        left: 70%; /* Adjust the left position */
    }

    #left-arrow,
    #right-arrow {
        top: calc(50% + 16%); /* Adjust the top position for smaller screens */
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    #left-arrow {
        left: 5%; /* Move the left arrow more left */
    }

    #right-arrow {
        right: 5%; /* Move the right arrow more right */
    }
}


@media screen and (max-width: 450px) {
    #arjuna-image,
    #krishna-image {
        top: calc(50% + 40%); /* Adjust the top position for smaller screens */
        width: 30%; /* Increase the size of arjuna and krishna by 5% */
    }

    #krishna-image {
        top: 67%; /* Move the krishna image top by 15% */
        left: 70%; /* Move the krishna image right by 15% */
    }

    #arjuna-image {
        top: 69%; /* Move the krishna image top by 15% */
        left: 27%; /* Move the krishna image right by 15% */
    }

    #left-arrow,
    #right-arrow {
        top: calc(50% + 14%); /* Adjust the top position for smaller screens */
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    #left-arrow {
        left: 5%; /* Move the left arrow more left */
    }

    #right-arrow {
        right: 5%; /* Move the right arrow more right */
    }
}

@media only screen and (min-width : 541px) and (max-width: 767px) {
    #arjuna-image,
    #krishna-image {
        top: calc(30% + 50%); /* Adjust the top position for smaller screens */
        width: 23%; /* Increase the size of arjuna and krishna by 5% */
    }

    #krishna-image {
        top: 70%; /* Move the krishna image top by 15% */
        left: 65%; /* Move the krishna image right by 15% */
    }

    #arjuna-image {
        top: 70%; /* Move the krishna image top by 15% */
        left: 12%; /* Move the krishna image right by 15% */
    }

    #left-arrow,
    #right-arrow {
        top: calc(50% + 25%); /* Adjust the top position for smaller screens */
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    #left-arrow {
        top:70%;
        left: 5%; /* Move the left arrow more left */
    }

    #right-arrow {
        top:70%;
        right: 5%; /* Move the right arrow more right */
    }
}
#arjuna-conversation {
    background-color: antiquewhite;
    height: auto;
    width: 20rem;
    position: relative;
    bottom: 40rem;
    left: 25%; /* Center the box horizontally */
    transform: translateX(-50%); /* Center the box horizontally */
    text-align: center;
    overflow-y: auto;
    padding: 18px;
   
}
  
#krishna-conversation {
    background-color: antiquewhite;
    height: 7rem;
    width: 20rem; /* Adjust width as needed */
    position: relative;
    bottom: 54rem;
    left: 71%; /* Center the box horizontally */
    transform: translateX(-50%); /* Center the box horizontally */
    text-align: center;
    overflow-y: auto;
    padding: 18px;
}

@media screen and (max-width: 540px) {
    #arjuna-conversation {
        background-color: antiquewhite;
        height: 7rem;
        width: 14rem;
        position: relative;
        bottom: 25rem;
        left: 27%;
        transform: translateX(-50%);
        text-align: center;
    
        overflow-y: auto;
        padding: 18px;
    }
    #krishna-conversation {
        background-color: antiquewhite;
        height: 7rem;
        width: 18rem;
        position: relative;
        bottom: 40rem;
        left: 65%; 
        transform: translateX(-50%); 
        text-align: center;
    
        overflow-y: auto;
        padding: 18px;
    }
}


@media screen and (min-width: 541px) and (max-width: 767px) {
    #arjuna-conversation {
        background-color: antiquewhite;
        height: 7rem;
        width: 14rem;
        position: relative;
        bottom: 42rem;
        transform: translateX(-50%);
        text-align: center;
        overflow-y: auto;
        padding: 18px;
    }
    #krishna-conversation {
        background-color: antiquewhite;
        height: 7rem;
        width: 18rem;
        position: relative;
        bottom: 55rem;
        transform: translateX(-50%); 
        text-align: center;
        overflow-y: auto;
        padding: 18px;
    }
}
@media screen and (min-width: 768px) and (max-width: 912px) {
    #arjuna-conversation {
        background-color: antiquewhite;
        height: 7rem;
        width: 14rem;
        position: relative;
        bottom: 38rem;
        transform: translateX(-50%);
        text-align: center;
        overflow-y: auto;
        padding: 18px;
    }
    #krishna-conversation {
        background-color: antiquewhite;
        height: 7rem;
        width: 18rem;
        position: relative;
        bottom: 56rem;
        transform: translateX(-50%); 
        text-align: center;
        overflow-y: auto;
        padding: 18px;
    }
}
@media screen and (max-width: 320px){
    #arjuna-conversation {
        transform: scale(0.7);
        left: -8%;
        bottom: 22rem;
    }
    #krishna-conversation {
        transform: scale(0.9);
        left: 12%;
        bottom:37rem
    }
}
#play,
#pause {
	float: left;
	width: 40px;
    position: absolute;
    bottom: 2%;
    left: 1%;
    z-index: 99;
}
#play:hover,
#pause:hover {
	cursor: pointer;
}
#pause {
	display: none;
}